<form [formGroup]="formDate">
  <h1>What weekday is today?</h1>

  <div class="form-controls">
    <div class="form-controls__input">
      <select formControlName="date">
        <option value="">Date</option>
        <option
          *ngFor="let date of ' '.repeat(31).split(''); let d = index"
          value="{{ d + 1 }}"
        >
          {{ d + 1 }}
        </option>
      </select>
    </div>

    <div class="form-controls__input">
      <select formControlName="month">
        <option value="">Month</option>
        <option
          *ngFor="let month of MONTHLISTS; let m = index"
          value="{{ m + 1 }}"
        >
          {{ month.name }}
        </option>
      </select>
    </div>

    <div class="form-controls__input">
      <select formControlName="year">
        <option value="">Year</option>
        <option *ngFor="let year of years" value="{{ year }}">
          {{ year }}
        </option>
      </select>
    </div>

    <div class="form-controls__input">
      <button (click)="caculate()" type="button">Run</button>
    </div>
  </div>

  <div class="result" *ngIf="dayResult">
    The weekday of the input date is {{ dayResult }}
  </div>
</form>
